# Research assignment 4


[Carmen Salazar]

[working title of the project] 

[3/11/2020]

In [1]:
cd "/Users/karminsalazar/Desktop/Masters Thesis"

*set more off

*capture log close

*log using research_assignment4log20200311.log


use year statefip countyfip city puma cpuma0010 ///
migrate1 migpuma1 movedin age sex race educ incwage empstat bpl /// 
using usa_00005.dta, clear

/Users/karminsalazar/Desktop/Masters Thesis

In [2]:

*keep if _n<10000
*save ipums10000.dta, replace

(48,152,118 observations deleted)

file ipums10000.dta saved

In [9]:
*codebook race
codebook age

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
age                                                                                                                                                                                                                                                         age
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                  type:  numeric (byte)
                 label:  AGE, but 94 nonmissing values are not labeled

                 range:  [0,95]                       units:  1
         unique values:  96                       missing .:  0/27,319

              examples:  17
                         32
                         49
                         63

In [2]:
keep if year==2017

gen in_white = race==1 & movedin<4 & moved!=0

gen black=race==2

In [10]:
gen age2=age^2

In [3]:
gen all=1

In [4]:
foreach var in all in_white black { 
bysort puma: egen sum`var'2 = total(`var')
gen p_`var'= sum`var'2 / sumall
}

drop if p_black <.5 
*here we are telling stata to drop all people where less than half the of the population is black

(3,162,721 observations deleted)

In [5]:
describe

*IV of whites who moved in as indicator of gentrification

Contains data from usa_00005.dta
  obs:        27,319
 vars:            25                          10 MAR 2020 22:39
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
year            int     %8.0g      YEAR       census year
statefip        byte    %8.0g      STATEFIP   state (fips code)
countyfip       int     %8.0g                 county (fips code)
city            int     %8.0g      CITY       city
puma            long    %12.0g                public use microdata area
cpuma0010       int     %8.0g                 consistent puma, 2000-2010
sex             byte    %8.0g      SEX        sex
age             byte    %8.0g      AGE        age
race            byte    %8.0g      RACE       race [general version]
bpl             int     %8.0g      BPL        birthplace [general version]
educ            byte    %8.0g      EDUC       educational attainment [general version]
empstat         byte    %8.0g      EMPSTAT    employment status [general version]
incwage         long    %12.0g                wage and salary income
migrate1        byte    %8.0g      MIGRATE1   migration status, 1 year [general version]
migpuma1        long    %12.0g                puma of residence 1 year ago
movedin         byte    %8.0g                 when occupant moved into residence
in_white        float   %9.0g
black           float   %9.0g
all             float   %9.0g
sumall2         float   %9.0g
p_all           float   %9.0g
sumin_white2    float   %9.0g
p_in_white      float   %9.0g
sumblack2       float   %9.0g
p_black         float   %9.0g
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by: puma
     Note: Dataset has changed since last saved.

In [6]:
save ipumsblack50, replace

*use ipumsblack50 dataset for future assignments

file ipumsblack50.dta saved

In [7]:
sum p_in_white
sum p_black

*p_in_white = percent in of residents in Census tracts that are white people who moved into
              the Census tract in the past year
              
*p_black = percent of each district that is black

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
  p_in_white |     27,319    .0302354    .0204553   .0021505   .0837629


    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
     p_black |     27,319    .6574179    .1113988   .5295429   .9483871

In [8]:
%head

     +-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
     | year   statefip   county~p       city   puma   cpu~0010      sex   age       race        bpl       educ    empstat   incwage   migrate1   migpuma1   movedin   in_white   black   all   sumall2   p_all   sumin_~2   p_in_w~e   sumbla~2    p_black |
     |-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
  1. | 2017       ohio         35   clevelan    908        791     male    57   black/af       ohio   grade 12   employed     59000   same hou          0         0          0       1     1      1449       1         38    .026225       1115   .7694962 |
  2. | 2017       ohio         35   clevelan    908        791     male    11      white   puerto r    nursery        n/a    999999   same hou          0         0          0       0     1      1449       1         38    .026225       1115   .7694962 |
  3. | 2017       ohio         35   clevelan    908        791   female    43      white   saudi ar    4 years   employed     34300   abroad o          1         0          0       0     1      1449       1         38    .026225       1115   .7694962 |
  4. | 2017       ohio         35   clevelan    908        791     male    70   black/af    alabama   grade 12   not in l         0   same hou          0         0          0       1     1      1449       1         38    .026225       1115   .7694962 |
  5. | 2017       ohio         35   clevelan    908        791     male    23   black/af       ohio   1 year o   not in l     15000   same hou          0         0          0       1     1      1449       1         38    .026225       1115   .7694962 |
     |-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
  6. | 2017       ohio         35   clevelan    908        791     male    32   black/af       ohio   grade 12   employed     42000   same hou          0         2          0       1     1      1449       1         38    .026225       1115   .7694962 |
  7. | 2017       ohio         35   clevelan    908        791     male    43   black/af       ohio   grade 12   not in l         0   same hou          0         0          0       1     1      1449       1         38    .026225       1115   .7694962 |
  8. | 2017       ohio         35   clevelan    908        791     male    54   black/af       ohio   grade 12   employed     40000   same hou          0         0          0       1     1      1449       1         38    .026225       1115   .7694962 |
  9. | 2017       ohio         35   clevelan    908        791   female    23      white       ohio   1 year o   employed     25000   same hou          0         1          1       0     1      1449       1         38    .026225       1115   .7694962 |
 10. | 2017       ohio         35   clevelan    908        791     male    53   black/af       ohio   grade 11   not in l         0   same hou          0         4          0       1     1      1449       1         38    .026225       1115   .7694962 |
     +-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

## 1. Develop hypotheses about interactions between your independent variables [1 pt]

You can use the GSS data, Student aid data, or your own data

    A. Write at least two hypotheses involving at least 2 of the following types of interactions
        1) nominal * nominal
        2) nominal * interval-ratio
        3) interval-ratio * interval-ratio
        
Hypothesis 1: I predict that my dependent variable of p_in_white (percent of residents in Census tracts that are  white               people who moved into the Census tract) will increase as my independent variables of p_black (percent of                 each district that is black and age decreases.

Hypothesis 2: I predict that my dependent variable of p_in_white (percent of residents in Census tracts that are  white               people who moved into the Census tract) will decrease as my independent variables of p_black (percent of                 each district that is black) and sex increases.
       
   
        
    B. State the predicted direction of association between your dependent variable and:
        1) each of the 2 independent variables by themselves
        2) the interaction of the 2 indendent variables
        3) you can predict that there is no association
        
I predict there is an association between my dependent variable and a decrease in the percent of each district that is black along with sex of individual. However, i also predict no association between percent of residents in Census tracts that are  white people who moved into the Census tract and the age of an individual. 

    C. Write a couple sentences about the theoretical reasons (prior knowledge / research) for each of your predictions
    -based on prior knowledge of research-
My predictions are based on literature that focuses on .....

## 2. Test your hypotheses [3 pts]

    A. For each hypothesized interactive relationship: use regression with the appropriate interaction syntax to estimate a 1 model with uninteracted variables and 1 model with interacted variables. Use --esttab-- with %html magic to output a model with the 2 tables
    
    B. Use margins and marginsplot with the appropriate syntax to visually represent your regression adjusted estimates for given nominal categories or at given interval-ratio values

In [11]:
xi i.race*i.sex, noomit

i.race*i.sex      _IracXsex_#_#       (coded as above)

In [17]:
est clear 

quietly eststo: reg p_in_white p_black i.sex age age2  

quietly eststo: reg p_in_white p_black i.sex##age age2

In [15]:
codebook sex

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
sex                                                                                                                                                                                                                                                         sex
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                  type:  numeric (byte)
                 label:  SEX

                 range:  [1,2]                        units:  1
         unique values:  2                        missing .:  0/27,319

            tabulation:  Freq.   Numeric  Label
                        12,201         1  male
                        15,118         2  female

In [18]:
%html
esttab, stats(r2 N, labels("R2" "N") fmt(%10.2fc %10.0fc)) cells(b(star fmt(%10.0fc)) se(fmt(%6.0fc) par) N (fmt(%10.0fc)) r2 (fmt(%10.2f))) ///
  nobase noconstant starlevels(* .1 ** .05 *** .01) mlabels("Model 1" "Model 2") drop(age age2 _cons)  ///
  coeflabels (1.race "White" 2.race "Black" 2.sex "Female" 2.race#2.sex "Black female" /// 
  1.race#2.sex "White female")  html

This front-end or document format cannot display HTML

## 3. Interpret your results [1 pt]

Write a couple sentences answering each of the following questions:

    A. Do the results support or contradict each of your hypotheses?
    
    B. Why do the regression coefficients support or contradict your hypotheses?
    
    C. Why do your regression adjusted estimates from margins for nominal categories or given interval-ratio values support or contradict your hypotheses?